<% content_for :title, "Dashboard | Backoffice" %>

<section class="backoffice-hero">
  <div>
     <h2 class="backoffice-hero__title">Administrativo</h2>
    <p class="backoffice-hero__text">Gerenciamento da área</p>
    <div class="backoffice-actions">
      <%= link_to "Categorias", backoffice_categories_path, class: "backoffice-button" %>
      <%= link_to "Anúncios", backoffice_ads_path, class: "backoffice-button backoffice-button--secondary" %>
    </div>
  </div>
</section>


